@use 'variables' as *;

.movie__single__container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.movie__single {
  display: flex;
  gap: 20px;
  grid-column: 1;
  grid-row: 1 / span 2;
  flex-direction: column;
  align-items: center;
}

.movie__single__header {
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1;
  color: #fff;
  font-size: xx-large;
}
.movie__single__intro {
  width: 50%;
  text-align: center;
  color: #dcdcdc;
  font-size: 1.7rem;

  color: #dcdcdc;
}
.movie__single__img {
  width: 60%;
  max-width: 600px;
  height: auto;
  margin-top: 5rem;
  border-radius: 10px;
  margin-bottom: 20px;
}
.screening__info-container {
  grid-column: 2 / 2;
  grid-row: 2;
  padding: 20px;
  width: 100%;
  max-width: 800px;
}
.screening__info-container-header {
  color: #dcdcdc;
  text-align: center;
  margin-bottom: 1rem;
}
.screening__info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.screening__info-list li {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.screening-time,
.screening-room {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.screening-room {
  margin-bottom: 0;
}
.primary_button__back {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}
.primary_button__back:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .movie__single__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .movie__single {
    grid-column: 1;
    grid-row: 1;
  }

  .screening__info-container {
    grid-column: 1;
    grid-row: 3;
  }
}
